NET "Clock" LOC = C9;
NET "Clock" PERIOD = 20.0ns HIGH 50%;
NET "Reset" LOC = L13;
NET "Reset" IOSTANDARD = LVTTL;
NET "Reset" PULLDOWN;
NET "Led[0]" LOC = F12;
NET "Led[0]" IOSTANDARD = LVTTL;
NET "Led[0]" DRIVE = 8;
NET "Led[1]" LOC = E12;
NET "Led[1]" IOSTANDARD = LVTTL;
NET "Led[1]" DRIVE = 8;
NET "Led[2]" LOC = E11;
NET "Led[2]" IOSTANDARD = LVTTL;
NET "Led[2]" DRIVE = 8;
NET "Led[3]" LOC = F11;
NET "Led[3]" IOSTANDARD = LVTTL;
NET "Led[3]" DRIVE = 8;
NET "Led[4]" LOC = C11;
NET "Led[4]" IOSTANDARD = LVTTL;
NET "Led[4]" DRIVE = 8;
NET "Led[5]" LOC = D11;
NET "Led[5]" IOSTANDARD = LVTTL;
NET "Led[5]" DRIVE = 8;
NET "Led[6]" LOC = E9;
NET "Led[6]" IOSTANDARD = LVTTL;
NET "Led[6]" DRIVE = 8;
NET "Led[7]" LOC = F9;
NET "Led[7]" IOSTANDARD = LVTTL;
NET "Led[7]" DRIVE = 8;